{% extends "website/layout.html" %}
{% load static %}

<!--TITLE-->
{% block page_title %} Home{% endblock page_title %}


<!--STYLES-->
{% block page_styles %}
    <link href="{% static '/css/styles.index.css' %}" rel="stylesheet" type="text/css">
{% endblock page_styles %}


<!--CONTENT-->
{% block page_content %}
    <div class="profile-container">
        <div class="profile-thumbnail">
            <img src="{% static '/img/avatars/cartoon-2.png' %}" alt="Zebalday profile avatar">
        </div>
        <div class="profile-title">
            <h2>Computer Engineer</h2>
            <h2>Software & Web Developer</h2>
        </div>
        <div class="profile-description">
            <p>Hi! I'm <span class="highlighted-text">Sebastian</span>, a software developer based on <span class="highlighted-text">Chile</span>, and this is my space. Here you'll be able to see all my <span class="highlighted-text">projects, review my code</span>, and know me a little better.</p>
            <p><span class="highlighted-text">Right now</span> I'm focused on building scalable, <span class="highlighted-text">well designed</span>, and innovative web applications with <span class="highlighted-text">Python</span> and <span class="highlighted-text">Django Framework.</span></p>
            <p>Feel free to visit <span class="highlighted-text">these links!</span></p>
        </div>
        <div class="page-sections">
            <button onClick="location.href='{% url 'website:portfolio' %}'"><i class="fa-solid fa-briefcase"></i>Projects</button>
            <button onClick="location.href='{% url 'website:professional' %}'"><i class="fa-solid fa-user-tie"></i>About Me</button>
            <button onClick="location.href='{% url 'website:github-activity' %}'"><i class="fa-solid fa-code-branch"></i>Github Activity</button>
            <button onClick=""><i class="fa-solid fa-arrow-right-to-bracket"></i>Log In</button>
        </div>
    </div>
{% endblock page_content %}

    
<!--SCRIPTS-->
{% block page_scripts %}

{% endblock page_scripts %}

