{% extends "website/layout.html" %}
{% load static %}

{% block page_title %}Professional Info{% endblock page_title %}


{% block page_styles %}
    <link rel="stylesheet" tpye ="text/css" href="{% static '/css/styles.professional-info.css' %}">
{% endblock page_styles %}


{% block page_content %}
    <div class="professional-info-container">
        <div class="profile-section">
            <div class="section-title">Profile</div>
            <p>
                Hello, my name is <span class="highlighted-text">Sebastian</span>, but you can call me <span class="highlighted-text">Zeb</span>. I'm a 24-year-old <span class="highlighted-text">Computer Engineer</span> and <span class="highlighted-text">Full Stack developer</span> based in Chile. My main interests are <span class="highlighted-text">software development</span>, <span class="highlighted-text">data management</span>, and <span class="highlighted-text">data science</span>, so I've been <span class="highlighted-text">coding</span> in different languages and learning the <span class="highlighted-text">best practices</span> of the industry for the <span class="highlighted-text">last 5 years</span>.
            </p>
        </div>
        <div class="skills-section">
            <div class="section-title">Skills</div>
            <p>This is the <span class="highlighted-text">collection</span> of languages, frameworks, and technologies that I consider <span class="highlighted-text">my main stack</span>.</p>
            <div class="stack">
                <div class="stack-item"><img src="{% static 'img/icons/html-logo.png' %}"></div>
                <div class="stack-item"><img src="{% static 'img/icons/css-logo.png' %}"></div>
                <div class="stack-item"><img src="{% static 'img/icons/javascript-logo.png' %}"></div>
                <div class="stack-item"><img src="{% static 'img/icons/python-logo.png' %}"></div>
                <div class="stack-item"><img src="{% static 'img/icons/django-logo.png' %}"></div>
                <div class="stack-item"><img src="{% static 'img/icons/drf-logo.png' %}"></div>
                <div class="stack-item"><img src="{% static 'img/icons/mysql-logo.png' %}"></div>
                <div class="stack-item"><img src="{% static 'img/icons/git-logo.png' %}"></div>
                <div class="stack-item"><img src="{% static 'img/icons/github-logo.png' %}"></div>
            </div>
        </div>


        <div class="studies-section">
            <div class="section-title">Studies</div>
            
            <div class="study-institutions">
                <div class="institution-item">
                    <div class="title">
                        <h2>Saint Thomas Professional Institute</h2>
                    </div>
                    <div class="degree">
                        <p>Computer Engineering</p>
                    </div>
                    <div class="description">
                        <p>
                            I was able to succed at very interesting classes such as <span class="highlighted-text">Data Structures & Algorithms</span>, <span class="highlighted-text">Object Oriented Programming</span>, <span class="highlighted-text">Desing Patterns</span>, Design and Creation of Databases, <span class="highlighted-text">Software Architecture</span>, among others.
                        </p>
                    </div>
                    <div class="date">
                        <p>Mar. 2021 - Dec. 2024 - Chile</p>
                    </div>
                </div>

                <div class="institution-item">
                    <div class="title">
                        <h2>Waikato Institute Of Information Technology</h2>
                    </div>
                    <div class="degree">
                        <p>Graduate Diploma in Applied Information Technology</p>
                    </div>
                    <div class="description">
                        <p>
                            This really was an <span class="highlighted-text">invaluable experience</span>. I met a lot of people from different parts of the world and <span class="highlighted-text">I could improve my english</span> by speaking with them. 
                            I dealed with classes such as Big <span class="highlighted-text">Data & Analytics</span>, Cyber Security, <span class="highlighted-text">CCNA2</span>, and Business for IT, all of wich I passed.
                        </p>
                    </div>
                    <div class="date">
                        <p>Jun. 2023 - Dec. 2023 - New Zealand</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="certifications-section">
            <div class="section-title">Courses & Certifications</div>
            {% include "website/includes/certifications.html" %}
        </div>
    </div>
{% endblock page_content %}


{% block page_scripts %}

{% endblock page_scripts %}

