{% extends "website/layout.html" %}
{% load static %}

{% block page_title %}{{projects_full.0.project.title}}{% endblock page_title %}


{% block page_styles %}
    <link rel="stylesheet" type="text/css" href= "{% static '/css/styles.project-viewer.css' %}" >
    <link rel="stylesheet" type="text/css" href= "{% static '/css/utils/styles.project-image-slider.css' %}" >
{% endblock page_styles %}

{% block page_content %}
    {% for project in projects_full %}
        <div class="project-container">
            {% comment %} TITLE AND TAGS {% endcomment %}
            <div class="project-banner">
                <div class="section-title">
                    {{project.project.title}}
                </div>
                {% comment %} INCLUDE PROJECT TAGS COMPONENT {% endcomment %}
                <div class="tags">
                    {% include "website/includes/project-tags.html" %}
                </div>
            </div>
            <div class="link-buttons">
                {% if project.project.project_url %}
                    <button class="project-link-btn link-btn"><a href="{% url project.project.project_url %}"><i class="fa-solid fa-link"></i> Go to project</a></button>
                {% endif %}
                {% if project.project.github_url %}
                    <button class="project-link-btn git-btn"><a href="{{project.project.github_url}}"><i class="fa-brands fa-github"></i> View Repository</a></button>
                {% endif %}
            </div>
            {% comment %} PROJECT REVIEW {% endcomment %}
            <div class="content">
                {{project.project.description|safe}}
            </div>
            {% comment %} PROJECT LINKS | GITHUB AND LINK TO PROJECT {% endcomment %}
            <div class="links">
                
            </div>
            {% comment %} PROJECT IMAGE GALLERY (IF HAS) {% endcomment %}
            {% if project.project_images|length > 0 %}
            <div class="project-images-slider">
                <div class="ism-slider" data-transition_type="fade" data-radios="false" id="my-slider">
                    <ol>
                        {% for image in project.project_images %}
                            <li>
                                <img src="/media/{{image.image}}">
                            </li>
                        {% endfor %}
                    </ol>
                </div>
            </div>
            {% endif %}
        </div>
        <div class="btn-section">
            <button onClick="location.href='{% url 'website:portfolio' %}'" class="btn-go-back"><i class="fa-solid fa-left-long"></i> Go back to list</button>
        </div>
    {% endfor %}
{% endblock page_content %}


{% block page_scripts %}
    <script src="{% static 'js/project-images-slider.js' %}"></script>
{% endblock page_scripts %}

