<div class="media-container">
    <ul>
        <li class="media-item"><a target="_blank" href="https://github.com/zebalday"><i class="fa-brands fa-github"></i></a></li>
        <li class="media-item"><a target="_blank" href="https://www.linkedin.com/in/sebasti%C3%A1n-alday-n%C3%BA%C3%B1ez-9a669a229/"><i class="fa-brands fa-linkedin"></i></a></li>
        <li class="media-item"><a target="_blank" href="mailto:sebaalday28@gmail.com"><i class="fa-solid fa-envelope"></i></a></li>
        <li class="media-item"><a target="_blank" href="https://discordapp.com/users/526125802744709161"><i class="fa-brands fa-discord"></i></a></li>
    </ul>
</div>
