.app-container{
    /* border: 1px solid black; */
    width: 95%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;


    .error-msg-container,
    .github-info-container,
    .form-container{
        /* border: 1px solid black; */
    }
    
    .form-container{
        /* border: 1px solid black; */
        margin: 0 auto;
        width: 95%;
        font-size: 1rem;
        line-height: 1.5rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        
        .user-form{
            /* border: 1px solid rgb(212, 0, 0); */
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            row-gap: 0.5rem;
            padding: 0.5rem;
            margin-bottom: 0.5rem;
            /* background: linear-gradient(to right, var(--color-dark-primary-a60), var(--color-dark-primary-a60)) padding-box, linear-gradient(to right, var(--color-light-secondary-a50), var(--color-dark-secondary-a50)) border-box; */

            .form-input{
                text-align: center;
                border-radius: 15px;
                line-height: 2.5rem;
                font-size: larger;
                border-radius: 5px;
                border: 1px solid var(--color-dark-primary-a10);
            }

            .btn-submit{
                padding: 0rem 1rem;
                font-size: 1rem;
                font-family: "Roboto-R";
                transition: all 0.5s;
                background-color: var(--color-light-secondary-a30);
                color: var(--color-dark-primary-a0);

            }

            .btn-submit:hover{
                background-color: var(--color-light-primary-a60);
                border: 2px solid var(--color-dark-secondary-a10);
                color: var(--color-dark-primary-a0);
            }
        }
        
        p{
            text-align: center;
            color: var(--color-light-primary-a0);
            margin: 1rem auto 0rem auto;
        }

        .users-container{
            /* border: 1px solid rgb(170, 0, 212); */
            padding: 0.5rem;
            margin: 0 auto;

            .users-list{
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                list-style: none;
                padding-inline-start: 0;
                row-gap: 0.5rem;
                padding: 0.5rem;
                border-radius: 5px;
                background: linear-gradient(30deg, var(--color-dark-primary-a10), var(--color-dark-primary-a10)) padding-box, linear-gradient(30deg, var(--color-light-secondary-a50), var(--color-dark-primary-a70)) border-box;
    
                

                .user-item{
                    width: 100%;
                    /* border: 1px solid rgb(0, 212, 21); */
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    justify-content: start;
                    border-radius: 5px;
                    background-color: var(--color-light-primary-a80);
                    
                    img{
                        max-width: 4rem;
                        padding: 0.2rem;
                        border-radius: 50%;
                        margin:0 1rem;
                    }
                    
                    a{
                        color: var(--color-light-secondary-a0);
                        text-decoration: none;
                    }
                }
            }
        }
    }

    .github-info-container{
        /* border: 1px solid black; */
        display: flex;
        flex-direction: column;
        row-gap: 1rem;
        align-items: start;
        justify-content: center;
        margin: 0 auto;
        width: 100%;
        
        .github-list{
            width: 95%;
            margin: 0 auto;
            /* border: 1px solid rgb(203, 39, 39); */
        }

        .commits{
            order: 1;
            width: 100%;
        }
        .followers{
            order: 2;
            /* padding: 0.5rem; */
        }
        .following{
            order: 3;
            /* padding: 0.5rem; */
        }
    }

    .error-msg-container{
        color: var(--color-light-primary-a0);
        width: 90%;
    }

}

/* RESPONSIVENESS */
@media (min-width:350px) {
    .app-container{

        .form-container{
            width: 85%;
        }
        
        .github-info-container{
            
            .github-list{

            }
        }

        .error-msg-container{
            width: 85%;
        }
    }
}

@media (min-width:570px) {
    .app-container{
        
        .form-container{
            width: 60%;
            
            .user-form{
                flex-direction: row;
                column-gap: 0.5rem;
            }
        }
        
        .github-info-container{
            
        }

        .error-msg-container{
            width: 60%;
        }
    }
}

@media (min-width:1080px) {
    .app-container{
        
        .form-container{
            width: 45%;
        }
        
        .github-info-container{
            flex-direction: row;
            column-gap: 1rem;
            
            .github-list{
                width: 33%;
            }
            
            .commits{order: 2}
            .followers{order: 1}
            .following{order: 3}
        }

        .error-msg-container{
            width: 45%;
        }
    }
    
}

@media (min-width:1400px) {
    .app-container{
        
        .form-container{
            width: 35%;
        }

        .github-info-container{
        }

        .error-msg-container{
            width: 35%;
        }
    }
}