

<div id="container" style="width: 75%;">
    <canvas id="pie-chart"></canvas>
</div>

<script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.js"></script>


<script>

var config = {
    type: 'bar',
    data: {
        datasets: [{
            axis: 'y',
            data: [{% for freq in genres.data %}{{freq}},{% endfor %}],
            backgroundColor: [
                '#696969', '#808080', '#A9A9A9', '#C0C0C0', '#D3D3D3'
            ],
            label: 'Top Genres',
            step: 10,
        }],
        labels: [{% for label in genres.labels %}'{{label}}', {% endfor %}],
    },
    options: {
        indexAxis: 'y',
        responsive: true,
    }
};

window.onload = function() {
    var ctx = document.getElementById('pie-chart').getContext('2d');
    window.myPie = new Chart(ctx, config);
};

</script>