.commits-container{
    width: 90%;
    display: flex;
    flex-direction: column;
    row-gap: 2rem;
    justify-content: start;
    align-items: center;

    .commits-section{

        .section-title{
            margin-bottom: 1rem;
        }

        p{
            color: var(--color-light-primary-a0);
            font-family: "Roboto-R";
            line-height: 1.5rem;
            text-align: justify;
            padding-inline-start: 0.5rem;
        }

        a{text-decoration: none;}
        a:hover{text-decoration: underline;}

        .button-section{
            width: 98%;
            padding: 1rem;
            margin-top: 0.5rem;
            display: flex;
            align-items: center;
            justify-content: end;

            button{
                width: auto;
                padding: 0.5rem 1rem;
                font-size: 1rem;
                font-family: "Roboto-R";
                border-radius: 5px;
                transition: all 0.5s;
                border: 1px solid transparent;
                background: linear-gradient(to right, var(--color-light-primary-a60), var(--color-light-primary-a60)) padding-box,
                linear-gradient(to right, var(--color-light-secondary-a50), var(--color-dark-primary-a70)) border-box;
                color: var(--color-dark-primary-a0);
            
                .fa-right-long{
                    margin-left: 0.5rem;
                }
            }
            
            button:hover{
                background: linear-gradient(to right, var(--color-light-primary-a70), var(--color-light-primary-a70)) padding-box,
                linear-gradient(to right, var(--color-light-secondary-a50), var(--color-dark-primary-a70)) border-box;
                color: var(--color-dark-primary-a0);
            }
        }
    }
}

/* RESPONSIVENESS */
@media (min-width:350px) {
    .commits-container{
        width: 85%;
        display: flex;
        align-items: center;
    }
}

@media (min-width:570px) {
    .commits-container{
        width: 60%;
        display: flex;
        align-items: center;
    }
}

@media (min-width:1080px) {
    .commits-container{
        width: 40%;
        display: flex;
        align-items: center;
    }
}

@media (min-width:1400px) {
    .commits-container{
        width: 35%;
        display: flex;
        align-items: center;
    }
}