.project-container{
    /* border: 1px solid white; */
    width: 90%;
    color: var(--color-light-primary-a0);
    font-family: "Roboto-R";
    padding: 0.5rem;
    border-radius: 5px;
    border: 1px solid transparent;
    background: linear-gradient(to right, var(--color-dark-primary-a80), var(--color-dark-primary-a90)) padding-box,
                linear-gradient(to right, var(--color-light-secondary-a50), var(--color-dark-secondary-a50)) border-box;
            
    .project-banner{
        border-bottom: 1px solid var(--color-dark-secondary-a20);
        padding: 0.5rem;
        
        .title{
            font-size: 2rem;
            line-height: 2rem;
            border-left: 4px solid var(--color-light-secondary-a50);
            padding: 0.2rem 0.5rem;
        }

    }

    .content,
    .project-images-slider{
        padding: 1rem;
        line-height: 1.5rem;
        margin: 0 auto;
    }
    
}


/* RESPONSIVENESS */
@media (min-width:320px) {

}

@media (min-width:570px) {
    .project-container{
        width: 70%;
    }
    .project-images-slider{
        max-width: 70%;
        padding: 0rem;
        
    }
}

@media (min-width:1080px) {
    .project-container{
        width: 60%;
    }
}