.profile-container{
    /* border: 1px solid white; */
    max-width: 70%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .profile-thumbnail,
    .profile-title{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .profile-thumbnail{
        /* border: 1px solid white; */
        width: 100%;

        img{
            width: inherit;
            border-radius: 50%;
            animation: glow 10s ease-in-out infinite normal;
            border: 0.5px solid var(--color-dark-primary-a30);
        }
    }

    .profile-title{
        padding: 1rem 0;
        text-align: center;
        h2{
            margin: 0 auto;
            line-height: 2rem;
            font-family: "Roboto-R";
            color: var(--color-light-primary-a0);
        }
    }
    
    .profile-description{
        text-align: justify;
        text-justify: inter-word;
        font-size: large;
        line-height: 1.5rem;
        font-family: "Roboto-R";
        color: var(--color-light-primary-a0);
    }

    .page-sections{
        width: 100%;
        padding: 0.5rem 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        row-gap: 1rem;
        
        button{
            font-size: larger;
            font-family: "Roboto-R";
            color: var(--color-light-primary-a0);
            width: 80%;
            padding: 1rem;
            text-align: center;
            border-radius: 0.5rem;
            border: 1px solid transparent;
            background: linear-gradient(var(--color-dark-primary-a90), var(--color-dark-primary-a90)) padding-box, linear-gradient(to right, var(--color-light-secondary-a50), var(--color-dark-secondary-a50)) border-box;
            transition: border-color 1s;
        }

        button:hover{
            background: linear-gradient(90deg, var(--color-light-secondary-a50), var(--color-dark-primary-a90)) padding-box,
                        linear-gradient(to right, var(--color-dark-secondary-a10), var(--color-dark-primary-a80)) border-box;
            border-color: var(--color-dark-primary-a90);
        }

        .svg-inline--fa{
            margin: 0 0.5rem;
        }
    }
}



/* RESPONSIVENESS */
@media (min-width:320px) {
    
}
@media (min-width:570px) {
    .profile-container{
        max-width: 45%;
    }
}
@media (min-width:1080px) {
    .profile-container{
        max-width: 35%;
    }
}



