.content-container{
    /* border: 1px solid white; */
    min-height: 700px;
    width: 85%;
    margin: 1rem auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sections-container{
    /* border: 1px solid rgb(238, 255, 0); */
    width: 100%;
    padding: 0.2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 0.5rem;
}

.sections-container > .section{
    /* border: 1px solid rgb(0, 255, 47); */
    width: 95%;
    min-height: 200px;
    border-bottom: 1px solid var(--color-light-primary-a20);
    margin-bottom: 1rem;
}

.section > .section-title{
    color: var(--color-light-primary-a0);
    font-family: "LemonMilk-L";
    font-size: 0.8rem;
    width: 100%;
    height: auto;
}

.section > .section-content{
    color: var(--color-light-primary-a0);
    font-family: "Roboto-R";
    line-height: 1.5rem;
}

/* INDEX SECTION */
.section-profile>.section-content{
    display: flex;
    align-items: start;
    justify-content: center;
}

.profile-info{
    display: flex;
    justify-content: center;
    align-items: center;
}

.profile-info>*{
    width: 100%
}


/* PROFILE BUTTONS */
.profile-info>.profile-buttons{
    display: flex;
    flex-direction: row;
    column-gap: 1rem;
    justify-content: center;
    align-items: center;
}

.profile-buttons>button{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    column-gap: 0.5rem;
    padding: 0.5rem 1.5rem;
    font-size: 1rem;
}

.btn-link{
    font-family: "Roboto-R";
    color: var(--color-light-primary-a0);
    border-radius: 0.2rem;
    border: 0px;
    -webkit-box-shadow: 2px 2px 5px 2px var(--color-dark-secondary-a80);
    box-shadow: 2px 2px 5px 2px var(--color-dark-secondary-a80);
}

.btn-portfolio{
    background-color: var(--color-light-primary-a30);
    transition: all 0.2s;
}

.btn-github{
    background-color: var(--github-light-color);
    transition: all 0.2s;
}


/* PROFILE IMAGE */
.profile-image-container{
    padding: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.profile-image-container>img{
    width: 90%;
    border-radius: 0.2rem;
}

/* RESPONSIVENESS */
@media (min-width:300px) {
    .content-container{
        width: 100%;
    }
    .sections-container{
        width: 95%;
    }
    .section-profile>.section-content{
        flex-direction: column;
    }
    .profile-info{
        flex-direction: column;
    }
    .profile-info>.profile-buttons{
        margin: 1rem auto;
    }
    /* Buttons */
    .btn-portfolio:active{
        background-color: var(--color-light-primary-a50);
    }
    .btn-github:active{
        background-color: var(--github-dark-color);
    }
}

@media (min-width:768px) {
    .content-container{
        width: 80%;
    }
    .section-profile>.section-content{
        flex-direction: row;
    }
    .profile-info{
        padding: 0 1rem;
    }
    .profile-info>.profile-buttons{
        margin: 0 auto;
        padding: 1rem;
        column-gap: 3rem;
    }
    .profile-image-container{
        height: 100%;
    }
    /* Buttons */
    .btn-portfolio:hover{
        background-color: var(--color-light-primary-a50);
    }
    .btn-github:hover{
        background-color: var(--github-dark-color);
    }
}

@media (min-width:1080px) {
    .content-container{
        width: 70%;
    }
}