.professional-info-container{
    width: 90%;
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
    justify-content: start;
    align-items: center;
    
    .skills-section,
    .studies-section,
    .certifications-section,
    .commits-section{
        width: 95%;
        padding: 0.5rem;
        display: flex;
        flex-direction: column;
        min-height: 100px;
        border-bottom: 1px solid var(--color-light-primary-a0);
        padding-bottom: 1rem;
        font-family: "Roboto-R";

        .section-title{
            margin-bottom: 1rem;
        }
        p{
            color: var(--color-light-primary-a0);
            text-align: justify;
            font-family: "Roboto-R";
            line-height: 1.5rem;
        }
    }

    .skills-section{
        .stack{
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-evenly;
            padding: 1rem 0;
            border-radius: 5px;
            background-color: var(--color-dark-primary-a10);

            .stack-item{
                width: 20%;
                
                img{
                    max-width: 3rem;
                    display: block;
                    margin: 0 auto;
                }
            }
        }
    }

    .studies-section{
        .study-institutions{
            display: flex;
            flex-direction: column;
            row-gap: 1rem;

            .institution-item{
                min-height: 50px;
                background-color: var(--color-dark-primary-a10);
                padding: 1rem;
                border-radius: 5px;
                display: flex;
                flex-direction: column;
                row-gap: 0.5rem;

                .title{
                    line-height: 1.5rem;
                    h2{
                        margin: 0 auto;
                    }
                }
                .date{
                    font-style: italic;
                    color: var(--color-dark-secondary-a10);
                }
                .degree{
                    font-weight: bold;
                }
                >div>p{
                    color: var(--color-dark-secondary-a90);
                    margin: 0 auto;
                }
            }
        }
    }

}


/* RESPONSIVENESS */
@media (min-width:350px) {
    .professional-info-container{
        width: 85%;
        display: flex;
        align-items: center;
    }
}

@media (min-width:570px) {
    .professional-info-container{
        width: 60%;
        display: flex;
        align-items: center;
    }
}

@media (min-width:1080px) {
    .professional-info-container{
        width: 40%;
        display: flex;
        align-items: center;
    }
}

@media (min-width:1400px) {
    .professional-info-container{
        width: 35%;
        display: flex;
        align-items: center;
    }
}