/* Styles for the projects filtering */
.project-filters{
    width: 80%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 2rem;

    button{
        background-color: transparent;
        border-color: transparent;
        color: var(--color-dark-secondary-a30);
        font-family: "LiberationSans-B";
        font-size: large;
        transition: all 0.5s;
    }
    
    .active{
        color: var(--color-light-secondary-a50);
        border-top: 2px solid var(--color-light-secondary-a50);
    }
}


/* Styles for the projects listing */
.projects-container{
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 1.5rem;
    
    .project-card{
        width: 100%;
        max-width: 30rem;
        min-height: 10rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: start;
        overflow: hidden;
        object-fit:cover;
        
        border-radius: 10px;
        border: 2px solid transparent;
        background: linear-gradient(var(--color-dark-primary-a90), var(--color-dark-primary-a90)) padding-box,
                    linear-gradient(45deg, var(--color-light-secondary-a50), var(--color-dark-secondary-a50)) border-box;
        transition: all 1s;

        .thumbnail{
            width: 100%;
            max-height: 45%;
            display: flex;
            align-items: center;
            justify-content: center;
            object-fit: fill;
            overflow: hidden;
            background-color: var(--color-light-secondary-a0);
            
            img{
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }

        .details{
            /* border: 1px solid rgb(255, 0, 132); */
            color: var(--color-light-primary-a0);
            padding: 1rem 0.5rem;
            font-family: "Roboto-R";

            .title{
                font-family: "LemonMilk-R";
                line-height: 1.5rem;
                margin-bottom: 0.5rem;
            }

            .tags{
                width: auto;

                .languages,
                .framework,
                .libraries{
                    width: auto;
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    margin: 0.5rem 0;
                    line-height: 1.5rem;
                    
                    .svg-inline--fa{
                        margin: 0 0.5rem;
                    }

                    >p{
                        margin: 0px 0rem 0px 0.5rem;
                    }
                }
            }

            .abstract{
                text-align: left;
                
                p{
                    margin: 0.5rem;
                    padding-top: 0.5rem;
                    line-height: 1.5rem;
                }
            }
        }
    }

    .project-card:hover{
        transform: scale(102%);
        border-color: var(--color-light-secondary-a30);
        box-shadow:-5px 5px 20px -5px var(--color-light-secondary-a50);
    }
}



/* RESPONSIVENESSs */
@media (min-width:570px){
    .project-filters{
        width: 60%;
    }

    .projects-container{

        .project-card{
            height: 100%;

            .thumbnail{
                flex: 0 0 50%;

                img{
                    max-width: 400px;
                }
            }
            .title{
                text-align: center;
            }
        }
    }
}

@media (min-width:1080px){
    .project-filters{
        width: 40%;
    }

    .projects-container{
        display: grid;
        grid-template-columns: 40% 40%;
        grid-template-rows: max-content;
        justify-content: space-around;
        align-items: stretch;
        column-gap: 1rem;
        row-gap: 3rem;

        .project-card{
            .title{
                text-align: left;
            }
        }
    }
}

@media (min-width:1240px){
    .projects-container{
        grid-template-columns: 30% 30% 30%;
    }
}

/* FILTERING EFFECTS */
.show-card{
    animation: showing-card 0.3s ease-in 1 normal;
    display: flex !important;
}
.hide-card{
    animation: hidding-card 0.3s ease-in 1 normal;
    display: none !important;
}

@keyframes showing-card {
    0%{
        transform: scale(0%);
    }
    100%{
        transform: scale(100%);
    }
}

@keyframes hidding-card {
    0%{
        transform: scale(100%);
    }
    100%{
        transform: scale(0%);
    }
}