.professional-info-container{
    width: 90%;
    display: flex;
    flex-direction: column;
    row-gap: 2rem;
    justify-content: start;
    align-items: center;
    
    .skills-section,
    .studies-section,
    .certifications-section,
    .commits-section{
        width: 95%;
        padding: 0.5rem;
        display: flex;
        flex-direction: column;
        /* border-bottom: 1px solid var(--color-light-primary-a0); */
        padding-bottom: 1rem;
        font-family: "Roboto-R";

        .section-title{
            margin-bottom: 1rem;
        }
        >p{
            color: var(--color-light-primary-a0);
            text-align: justify;
            font-family: "Roboto-R";
            line-height: 1.5rem;
        }
    }

    .skills-section{
        .stack{
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(3rem, 6rem));
            row-gap: 1rem;
            column-gap: 1rem;
            align-items: center;
            justify-content: space-evenly;
            padding: 1rem;
            border-radius: 5px;
            border: 2px solid transparent;
            background: linear-gradient(30deg, var(--color-dark-primary-a10), var(--color-dark-primary-a10)) padding-box,
                        linear-gradient(30deg, var(--color-light-secondary-a50), var(--color-dark-primary-a70)) border-box;


            .stack-item{
                
                img{
                    max-width: 85%;
                    display: block;
                    margin: 0 auto;
                }
            }
        }
    }

    .studies-section{
        .study-institutions{
            display: flex;
            flex-direction: column;
            row-gap: 1rem;

            .institution-item{
                min-height: 50px;
                color: var(--color-light-primary-a0);
                /* background-color: var(--color-dark-primary-a10); */
                padding: 1rem;
                display: flex;
                flex-direction: column;
                row-gap: 0.5rem;
                border-bottom: 1px solid var(--color-dark-primary-a10);
                box-shadow: var(--color-dark-primary-a10) 0px 15px 10px -15px;
                transition: all 0.5s;
                

                            
                >.title{
                    line-height: 1.5rem;
                    text-align: left;
                    margin-bottom: 0.5rem;
                    h2{
                        margin: 0 auto;
                    }
                }
                >.degree{
                    font-weight: bolder;
                    text-align: left;
                    line-height: 1.5rem;
                    p{
                        margin: 0 auto;
                    }
                }
                >.description{
                    display: none;
                    color: var(--color-dark-secondary-a90);
                    line-height: 1.5rem;
                    margin: 0 auto;
                    padding-inline-start: 1rem;
                    p{
                        color: var(--color-light-primary-a0);
                        margin: 0 auto;
                        text-align: justify;
                    }
                }
                >.date{
                    display: none;
                    font-style: italic;
                    text-align: left;
                    padding-inline-start: 1rem;
                    p{
                        margin: 0 auto;
                    }
                }
            }
            .institution-item:hover{
                padding: 0.5rem 1rem;
                border-left: 3px solid var(--color-light-secondary-a50);
                border-bottom: none;
                box-shadow: var(--color-light-secondary-a50) -15px 0px 10px -15px;
                .title{
                    h2{
                        background: linear-gradient(to right, var(--color-light-secondary-a50) 0%, var(--color-light-secondary-a30) 50%);
                        background-clip: text;
                        -webkit-text-fill-color: transparent;
                        font-weight: bolder;
                    }
                }
                .description,
                .date{
                    display: block;
                }

            }
        }
    }

}


/* RESPONSIVENESS */
@media (min-width:350px) {
    .professional-info-container{
        width: 85%;
        display: flex;
        align-items: center;
    }
}

@media (min-width:570px) {
    .professional-info-container{
        width: 60%;
        display: flex;
        align-items: center;
    }
}

@media (min-width:1080px) {
    .professional-info-container{
        width: 40%;
        display: flex;
        align-items: center;
    }
}

@media (min-width:1400px) {
    .professional-info-container{
        width: 35%;
        display: flex;
        align-items: center;
    }
}