{% extends "layout.html" %}
{% load static %}

<!--TITLE-->
{% block page_title %} Home{% endblock page_title %}


<!--STYLES-->
{% block page_styles %}
    <link href="{% static '/css/styles.index.css' %}" rel="stylesheet" type="text/css">
{% endblock page_styles %}


<!--CONTENT-->
{% block page_content %}
    <div class="profile-container">
        <div class="profile-thumbnail">
            <img src="{% static '/img/ZebaldayPortfolioLogo1000x1000-2.png' %}" alt="" width=200px>
        </div>
        <div class="profile-title">
            <h2>Informatic Engineer</h2>
            <h2>Software & Web Developer</h2>
        </div>
        <div class="profile-description">
            <p>Hi! I'm <span class="highlighted-text">Sebastian</span>, a software developer based on <span class="highlighted-text">Chile</span>, and this is my space. Here you'll be able to see all my <span class="highlighted-text">projects</span>, blog posts, review my code, and know me a little better.</p>
            <p>Feel free to visit <span class="highlighted-text">these links!</span></p>
        </div>
        <div class="page-sections">
            <button><i class="fa-solid fa-briefcase"></i>Projects</button>
            <button><i class="fa-solid fa-comments"></i></i>Blog discussion</button>
            <button><i class="fa-brands fa-github"></i>Github</button>
            <button><i class="fa-solid fa-user"></i>About me</button>
        </div>
    </div>
{% endblock page_content %}


<!--SCRIPTS-->
{% block page_scripts %}

{% endblock page_scripts %}

