{% load static %}

<!DOCTYPE html>
<html lang="es" class="header finisher-header">
<head>
        <!-- TITTLE -->
        <title>zebalday.dev | {% block page_title %}{% comment %} CHILD TEMPLATE TITTLE {% endcomment %}{% endblock page_title %}</title>
        <!-- META -->
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="author" content="">
        <meta name="copyright" content="&copy; ">
        <meta name="description" content="">
        <meta name="keywords" content="">
        <meta name="geo.region" content="CL" />
        <meta name="robots" content="index, follow" />
        <meta name="googlebot" content="index, follow" />
        <meta name="googlebot-news" content="noindex">
        <meta name="distribution" content="global" />
        <meta name="msapplication-TileColor" content="#ffffff">
        <meta name="theme-color" content="#ffffff">
        <!-- FACEBOOK OG -->
        <meta property="og:type" content="Website" />
        <meta property="og:title" content="" />
        <meta property="og:description" content="" />
        <meta property="og:image" content="{% static '' %}"/>
        <meta property="og:image:type" content="image/png">
        <meta property="og:locale" content="es">
        <meta property="og:url" content="" />
        <meta property="og:site_name" content="Baron Propiedades" />
        <!-- STYLES -->
        <link href="{% static 'fontawesomefree/css/all.min.css' %}" rel="stylesheet" type="text/css">
        <link rel="stylesheet" type="text/css" href= "{% static '/css/styles.min.css' %}" >
        <link rel="stylesheet" type="text/css" href= "{% static '/css/styles.layout.css' %}" >
        {% block page_styles %}
        {% comment %} CHILD TEMPLATE STYLES {% endcomment %}
        {% endblock page_styles %}
        <!-- FAVICON -->
        
</head>
    <body>

        <!-- TITLE & NAVITAGION HEADER -->
        <header>
            <h1 class="header-title">zebalday</h1>
            <h3 class="header-typing-subtitle" id="header-typing-subtitle"></h3>
            <div class="header-navbar-container">
                <navbar>
                    <div id="toggle"><i class="fa-solid fa-caret-right" id="fa-caret-right"></i>Sections</div>
                    <div id="menu" class="show-menu">
                        <ul>
                            <li>Home</li>
                            <li>Proyects</li>
                            <li>CV</li>
                            <li>Blog</li>
                            <li>About me</li>
                        </ul>
                    </div>
                </navbvar>
            </div>
        </header>

        <!-- PAGE CONTENT -->
        {% block page_content %}
        {% comment %} CHILD TEMPLATE CONTENT {% endcomment %}
        {% endblock page_content %}

        <footer>
            <div class="footer-content">
                <div class="footer-logo">
                    <img src="{% static '/img/ZebaldayPortfolioLogo1000x1000-2.png' %}" alt="">
                </div>
                <div class="footer-info">
                    <p>&copy; 2024 zebalday.dev by Sebastián Alday</p>
                </div>
                <div class="footer-social">
                    <ul>
                        <li><a href=""><i class="fa-brands fa-github"></i></a></li>
                        <li><a href=""><i class="fa-brands fa-linkedin"></i></a></li>
                        <li><a href=""><i class="fa-solid fa-envelope"></i></a></li>
                        <li><a href=""><i class="fa-brands fa-instagram"></i></a></li>
                    </ul>
                </div>
            </div>
        </footer>
        
        <!-- SCRIPTS-->
        <script src="{% static 'fontawesomefree/js/all.min.js' %}"></script>
        <script type="text/javascript" src={% static "/js/responsive-functions.js" %}></script>
        <script type="text/javascript" src={% static "/js/typing-effect.js" %}></script>
        {% block page_scripts %}
        {% comment %} CHILD TEMPLATE SCRIPTS {% endcomment %}
        {% endblock page_scripts %}
    </body>
</html>





