{% load static %}

<!DOCTYPE html>
<html lang="es" class="header finisher-header">
<head>
        <!-- TITTLE -->
        <title>zebalday.dev | {% block page_title %}{% comment %} CHILD TEMPLATE TITTLE {% endcomment %}{% endblock page_title %}</title>
        <!-- META -->
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="author" content="">
        <meta name="copyright" content="&copy; ">
        <meta name="description" content="">
        <meta name="keywords" content="">
        <meta name="geo.region" content="CL" />
        <meta name="robots" content="index, follow" />
        <meta name="googlebot" content="index, follow" />
        <meta name="googlebot-news" content="noindex">
        <meta name="distribution" content="global" />
        <meta name="msapplication-TileColor" content="#ffffff">
        <meta name="theme-color" content="#ffffff">
        <!-- FACEBOOK OG -->
        <meta property="og:type" content="Website" />
        <meta property="og:title" content="" />
        <meta property="og:description" content="" />
        <meta property="og:image" content="{% static '' %}"/>
        <meta property="og:image:type" content="image/png">
        <meta property="og:locale" content="es">
        <meta property="og:url" content="" />
        <meta property="og:site_name" content="Baron Propiedades" />
        <!-- STYLES -->
        <link href="{% static 'fontawesomefree/css/solid.min.css' %}" rel="stylesheet" type="text/css">
        <link href="{% static 'fontawesomefree/css/brands.min.css' %}" rel="stylesheet" type="text/css">
        <link rel="stylesheet" type="text/css" href= "{% static '/css/styles.min.css' %}" >
        <link rel="stylesheet" type="text/css" href= "{% static '/css/styles.layout.css' %}" >
        {% block page_styles %}
        {% comment %} CHILD TEMPLATE STYLES {% endcomment %}
        {% endblock page_styles %}
        <!-- FAVICON -->
        
</head>
    <body>

        <!-- TITLE & NAVITAGION HEADER -->
        <header>
            <div class="header-items-container">
                <div class="header-title" onClick="location.href='{% url 'home' %}'">
                    <h1>zebalday</h1>
                </div>
                <div class="header-menu">
                    <i class="fa-solid fa-bars"></i>
                </div>
            </div>
        </header>

        <!-- PAGE CONTENT -->
        <div class="content-container">
            {% block page_content %}
            {% comment %} CHILD TEMPLATE CONTENT {% endcomment %}
            {% endblock page_content %}
        </div>

        <!-- PAGE FOOTER-->
        <footer>
            <div class="footer-content">
                <div class="footer-info">
                    <p>&copy; 2024 zebalday.dev by Sebastián Alday</p>
                </div>

            </div>
        </footer>
        
        <!-- SCRIPTS-->
        <script src="{% static 'fontawesomefree/js/all.min.js' %}"></script>
        {% block page_scripts %}
        {% comment %} CHILD TEMPLATE SCRIPTS {% endcomment %}
        {% endblock page_scripts %}
    </body>
</html>





