{% extends "layout.html" %}
{% load static %}

{% block page_title %}Portfolio{% endblock page_title %}


{% block page_styles %}
    <link rel="stylesheet" type="text/css" href= "{% static '/css/styles.portfolio.css' %}" >
{% endblock page_styles %}


{% block page_content %}
    <div class="project-filters" id="project-filters">
        <button class="filter active" data-filter="*">All</button>
        <button class="filter" data-filter="filter-python">Python</button>
        <button class="filter" data-filter="filter-django">Django</button>
        <button class="filter" data-filter="filter-datascience">Data Science</button>
    </div>
    <div class="projects-container">

        {% comment %} PROJECTS ITERATION {% endcomment %}
        {% for project in projects_full %}
            <div class="project-card{% if project.filter %} {{project.filter}}{% endif %}" onClick="location.href='portfolio/projects/{{project.project.id}}'">
                
                {% comment %} PROJECTS IMAGE {% endcomment %}
                <div class="thumbnail">
                    <img src="{{ project.project.thumbnail.url }}">
                </div>
                
                {% comment %} PROJECTS INFO {% endcomment %}
                <div class="details">
                    <div class="title">
                        {{ project.project.title }}
                    </div>

                    {% comment %} INCLUDE PROJECT TAGS COMPONENT {% endcomment %}
                    {% include "includes/project-tags.html" %}

                    {% comment %} PROJECTS SHORT DESCRIPTION {% endcomment %}
                    <div class="abstract">
                        <p>{{ project.project.short_description }}</p>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock page_content %}


{% block page_scripts %}
    <script src="{% static '/js/projects-filter.js' %}"></script>
{% endblock page_scripts %}

