{% extends "layout.html" %}
{% load static %}

{% block page_title %}Professional Info{% endblock page_title %}


{% block page_styles %}
    <link rel="stylesheet" tpye ="text/css" href="{% static '/css/styles.professional-info.css' %}">
{% endblock page_styles %}


{% block page_content %}
    <div class="professional-info-container">
        <div class="skills-section">
            <div class="section-title">Skills</div>
            <p>This is the <span class="highlighted-text">collection</span> of web oriented technologies that I consider <span class="highlighted-text">my main stack</span>.</p>
            <div class="stack">
                <div class="stack-item"><img src="{% static 'img/icons/html-logo.png' %}"></div>
                <div class="stack-item"><img src="{% static 'img/icons/css-logo.png' %}"></div>
                <div class="stack-item"><img src="{% static 'img/icons/javascript-logo.png' %}"></div>
                <div class="stack-item"><img src="{% static 'img/icons/python-logo.png' %}"></div>
                <div class="stack-item"><img src="{% static 'img/icons/django-logo.png' %}"></div>
                <div class="stack-item"><img src="{% static 'img/icons/drf-logo.png' %}"></div>
                <div class="stack-item"><img src="{% static 'img/icons/mysql-logo.png' %}"></div>
                <div class="stack-item"><img src="{% static 'img/icons/git-logo.png' %}"></div>
                <div class="stack-item"><img src="{% static 'img/icons/github-logo.png' %}"></div>
            </div>
        </div>


        <div class="studies-section">
            <div class="section-title">Studies</div>
            <p>Based on Chile, I've been studying <span class="highlighted-text">Computer Engineering</span> for the last 4 years. Here, I could discover my <span class="highlighted-text">passion for technology</span> and improve my coding habilities, beign able to reach one of the <span class="highlighted-text">best performances of my class</span>, which drove me to participate on an <span class="highlighted-text">international exchange experience in New Zealand</span>.</p>
            
            
            <div class="study-institutions">
                <div class="institution-item">
                    <div class="title">
                        <h2>Saint Thomas Professional Institute</h2>
                    </div>
                    <div class="date">
                        <p>Mar. 2021 - Dec. 2024 - Chile</p>
                    </div>
                    <div class="degree">
                        <p>Computer Engineering</p>
                    </div>
                    <div class="description">
                        <p>
                        I was able to succed at very interesting classes such as <b>Data Structures & Algorithms</b>, <b>Object Oriented Programming</b>, <b>Desing Patterns</b>, Design and Creation of Databases, <b>Software Architecture</b>, among others.
                        </p>
                    </div>
                </div>

                <div class="institution-item">
                    <div class="title">
                        <h2>Waikato Institute Of Information Technology</h2>
                    </div>
                    <div class="date">
                        <p>Jun. 2023 - Dec. 2023 - New Zealand</p>
                    </div>
                    <div class="degree">
                        <p>Graduate Diploma in Applied Information Technology</p>
                    </div>
                    <div class="description">
                        <p>
                        This really was an invaluable experience. I met a lot of people from different parts of the world and <b>I could improve my english</b> by speaking with them. 
                        I dealed with classes such as Big <b>Data & Analytics</b>, Cyber Security, <b>CCNA2</b>, and Business for IT, all of wich I passed.
                        </p>
                    </div>
                </div>
            </div>
        </div>

        <div class="certifications-section">
            <div class="section-title">Courses & Certifications</div>
            {% include "includes/certifications.html" %}
        </div>

        <div class="commits-section">
            <div class="section-title">What am I doing?</div>
            {% include "includes/last-commits.html" %}
        </div>
    </div>
{% endblock page_content %}


{% block page_scripts %}

{% endblock page_scripts %}

