.dashboard-content{
    /* border: 1px solid white; */
    width: 95%;
    padding: 0.5rem;
    display: flex;
    flex-direction: column;
    row-gap: 0.5rem;
    justify-content: center;
    align-items: center;
    
    .user-info{
        /* border: 1px solid red; */
        width: 100%;
        display: flex;
        justify-content: start;
        align-items: center;
        column-gap: 0.5rem;

        img{
            max-width: 4rem;
            border-radius: 50%;
            margin: 0 1rem 0 0;
        }
        a{
            text-decoration: none;
            color: var(--spotify-light);
            font-family: "Gotham-MI";
        }
        a:hover{
            text-decoration: underline;
        }
    }

    .features-container{
        /* border: 1px solid red; */
        width: 97.5%;
        padding: 0.5rem;
        display: flex;
        flex-direction: column;
        row-gap: 1.5rem;
        justify-content: start;
        align-items: center;

        >div{
            width: 100%;
            /* border: 1px solid rgb(0, 208, 255); */
        }

        .toggle{
            margin: 0;
        }
        .toggle:hover{
            text-decoration: underline;
        }

        .current-song{
            display: flex;
            flex-direction: row;
            column-gap: 1rem;
            justify-content: start;
            align-items: center;
            padding: 0.5rem;
            background-color: var(--spotify-dark-grey);
            border-radius: 10px;
            border: 2px solid var(--spotify-dark-blue);


            .thumbnail{
                max-width: 6rem;
                border-radius: 10px;
                box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
            }

            .info{
                display: flex;
                flex-direction: column;
                row-gap: 0.5rem;
                justify-content: space-between;
                align-items: start;

                a{
                    text-decoration: none;
                    color: var(--spotify-light);
                    transition: all 0.3s;
                }
                a:hover{
                    color: var(--spotify-light-grey);
                }
                p{
                    margin: 0;
                }

                .song-name{
                    font-weight: bolder;
                    font-size: larger;
                }
            }
        }

        .songs-history{

            display: flex;
            flex-direction: column;
            align-items: start;
            justify-content: center;
            row-gap: 1rem;


            .banner{
                margin: 0 auto;               
                padding: 0.5rem;
                width: 90%;
                display: flex;
                justify-content: space-between;
                align-items: center;

                .title{}
            }

            .list{
                width: 100%;

                ul{     
                    margin: 0;               
                    list-style: none;
                    padding-inline-start: 0;
                    width: 100%;


                    li{
                        width: 90%;
                        padding: 0.5rem;
                        margin: 0.2rem auto;
                        border-radius: 10px;
                        animation-duration: 0.5s;
                        animation-fill-mode: forwards;

                        a{
                            color: var(--spotify-light);
                            text-decoration: none;
                            transition: all 0.3s;
                        }
                        a:hover{color: var(--spotify-light-grey);}
                        .artist-url{
                            font-size: small;
                        }
                    }

                    li:hover{
                        background-color: var(--spotify-dark-grey);
                    }
                }
            }
        }

        .top-artists{
            
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            row-gap: 1rem;


            .banner{
                margin: 0 auto;               
                padding: 0.5rem;
                width: 90%;
                display: flex;
                justify-content: space-between;
                align-items: center;
            }

            .artists-cards{

                width: 100%;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                row-gap: 1rem;
                animation-duration: 0.4s;
                animation-fill-mode: forwards; 

                .flip-card{

                    width: 90%;
                    background-color: transparent;
                    height: 20rem;
                    border-radius: 10px;
                    perspective: 1000px; /* Remove this if you don't want the 3D effect */
                    overflow: hidden;
                    animation-duration: 0.5s;
                    /* animation-fill-mode: forwards; */
                    
                    
                    .flip-card-inner{
                        
                        position: relative;
                        width: 100%;
                        height: 100%;
                        text-align: center;
                        transition: transform 0.8s;
                        transform-style: preserve-3d;
                        animation-duration: 0.5s;
                        /* animation-fill-mode: forwards; */
                        

                        .flip-card-front, 
                        .flip-card-back {
                            position: absolute;
                            width: 100%;
                            height: 100%;
                            -webkit-backface-visibility: hidden; /* Safari */
                            backface-visibility: hidden;
                        }

                        .flip-card-front{
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            overflow: hidden;
                            object-fit: cover;

                            img{
                                width: 100%;
                            }

                            .artist-name{
                                position: absolute;
                                z-index: 100;
                            }
                        }

                        .flip-card-back{
                            display: flex;
                            flex-direction: column;
                            align-items: center;
                            justify-content: center;
                            transform: rotateY(180deg);
                            background: rgb(176,40,151);
                            background: linear-gradient(193deg, rgba(176,40,151,1) 0%, rgba(30,50,100,1) 100%);

                            p{
                                width: 80%;
                                margin: 0.2rem auto;
                                text-align: center;
                                line-height: 1.5rem;
                            }
                        }
                    }
                }
                
                .flip-card:hover .flip-card-inner {
                    z-index: 100;
                    transform: rotateY(180deg);
                }
            }
        }

        .top-songs{
            
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            row-gap: 1rem;

            .banner{
                margin: 0 auto;               
                padding: 0.5rem;
                width: 90%;
                display: flex;
                justify-content: space-between;
                align-items: center;
            }

            .list{
                width: 100%;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                row-gap: 1rem;
                overflow: hidden;
            
                .top-track-item{
                    width: 90%;
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    column-gap: 1rem;
                    padding: 0.5rem;
                    border-radius: 10px;
                    transition: all 0.3s;
                    border: 2px solid var(--spotify-light-grey);
                    background-color: var(--spotify-dark-red);  /* CAMBIAR */
                    animation-duration: 0.5s;
                        animation-fill-mode: forwards;


                    img{
                        max-width: 5rem;
                        border-radius: 10px;
                        box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
                    }


                    .info{
                        display: flex;
                        flex-direction: column;
                        row-gap: 0.5rem;

                        a{
                            text-decoration: none;
                            color: var(--spotify-light);
                            transition: all 0.3s;
                        }
                        a:hover{
                            color: var(--spotify-light-grey);
                        }
                        .song-name{
                            font-family: "Gotham-M";
                            font-weight: bolder;
                            font-size: larger;
                        }
                        .artists{

                        }
                        .album{
                            margin: 0;
                        }
                    }
                }

                .top-track-item:hover{
                    border: 2px solid var(--spotify-dark-yellow);
                }
            }
        }

        .top-genres{


            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            row-gap: 1rem;


            .banner{
                margin: 0 auto;               
                padding: 0.5rem;
                width: 90%;
                display: flex;
                justify-content: space-between;
                align-items: center;
            }

            .list{
                width: 100%;

                ul{     
                    margin: 0;               
                    list-style: none;
                    padding-inline-start: 0;
                    width: 100%;

                    li{
                        width: 90%;
                        padding: 0.5rem;
                        margin: 0.2rem auto;
                        border-radius: 10px;
                        animation-duration: 0.5s;
                        animation-fill-mode: forwards;

                        p{
                            margin: 0 auto;
                        }
                    }
                }
            }
        }
    }
}


/* RESPONSIVENESS */
@media (min-width:570px){
    .dashboard-content{
        width: 80%;
    }

}

@media (min-width:1080px){
    .dashboard-content{
        width: 65%;

        .features-container{

            .top-artists{

                .artists-cards{

                    display: grid;
                    grid-template-columns: 45% 45%;
                    grid-template-rows: max-content;
                    justify-content: space-evenly;
                    align-items: stretch;
                    row-gap: 1.5rem;
                    
                    .flip-card{
                        margin: 0 auto;
                        height: 15rem;
                    }
                }
            }

            .top-songs{
                
                .list{
                    display: grid;
                    grid-template-columns: 45% 45%;
                    grid-template-rows: max-content;
                    justify-content: space-evenly;
                    align-items: stretch;
                    row-gap: 1.5rem;

                    .top-track-item{
                        flex-direction: column;
                        row-gap: 0.5rem;

                        img{
                            max-width: 100%;
                        }

                        .info{
                            width: 95%;
                            padding: 0.2rem;
                            justify-content: left;
                        }
                    }
                }
            }
        }
    }
}

@media (min-width:1240px){
    .dashboard-content{
        width: 50%;
    }
}

