<div class="media-container">
    <ul>
        <li class="media-item"><a target="_blank" href="#"><i class="fa-brands fa-github"></i></a></li>
        <li class="media-item"><a target="_blank" href="#"><i class="fa-brands fa-linkedin"></i></a></li>
        <li class="media-item"><a target="_blank" href="#"><i class="fa-solid fa-envelope"></i></a></li>
        <li class="media-item"><a target="_blank" href="#"><i class="fa-brands fa-discord"></i></a></li>
    </ul>
</div>

<!--https://discordapp.com/users/526125802744709161-->