<div class="tags" id="tags">
    {% comment %} PROJECT LANGUAGES ITERATION {% endcomment %}
    <div class="languages">
        <i class="fa-solid fa-code"></i>
        <p>
            {% for language in project.languages %}
            {{ language }}{% if not forloop.last %}, {% endif %}
            {% endfor %}
        </p>
    </div>
        
    {% comment %} PROJECT FRAMEWORK ITERATION {% endcomment %}
    {% if project.framework %}
    <div class="framework">
        <i class="fa-solid fa-gears"></i>
        {% for framework in project.framework %}
        <p><span class="tag">{{ framework }}</span></p>
        {% endfor %}
    </div>
    {% endif %}
        
    {% comment %} PROJECT LIBRARIES ITERATION {% endcomment %}
    {% if project.libraries %}
    <div class="libraries">
        <i class="fa-solid fa-puzzle-piece"></i>
        {% for library in project.libraries %}
            <p><span class="tag">{{ library }}</span></p>
        {% endfor %}
    </div>
    {% endif %}
</div>
